---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Carrusel from '../components/Carrusel.astro';
import Information from '../components/Information.astro';
import Productos from '../components/Productos.astro';

---

<Layout>
	<Header/>
	<Carrusel/>
	<main>
		<Information/>
		<Productos/>
	</main>
</Layout>


