<div id="portada" class="min-h-[78vh] bg-cover bg-center block">
</div>
<script is:inline>
let c = 0;
const portada = document.querySelector("#portada");
function carrusel(){
  portada.style.opacity = "0";
  portada.style.transition = "opacity 0.5s ease";
  setTimeout(cambio, 500);
}

function cambio(){
  const port = [
  {
    img :"https://www.miastogier.pl/baza/Encyklopedia/gry/News/18.11.2023/nws_tloea.jpg"
  },
  {
    img: "https://4kwallpapers.com/images/walls/thumbs_3t/13669.jpg"
  },
  {
    img: "https://gagadget.com/media/post_big/Screenshot_1_UvHt5St.jpg"
  },
  {
    img: "https://www.techpowerup.com/img/vJ281n236I1H2DvU.jpg"
  },
  {
    img:"https://4kwallpapers.com/images/walls/thumbs_3t/11197.jpg"
  }
];

  c++;
  if(c >= port.length){
    c = 0;
  }
  portada.style.backgroundImage = `linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url('${port[c].img}') `;
  portada.style.opacity = "1";
  portada.style.transition = "opacity 1s ease";
  setTimeout(carrusel, 2000);
}
carrusel();
</script>