---

---

<section
  class="grid grid-cols-1 justify-items-center lg:grid-cols-3 h-auto lg:h-[90px] bg-gradient-to-r from-purple-950/80 to-red-500 items-center grid-rows-3 lg:grid-rows-1 gap-y-12 py-6 dark:from-transparent dark:bg-gray-600"
>
  <div class="text-white ">
    <p>Lorem ipsum dolor sit.</p>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="text-white">
    <p>Lorem ipsum dolor sit.</p>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="text-white">
    <p>Lorem ipsum dolor sit.</p>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</section>
