<div class="relative cursor-pointer"  id="shopCart">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30px"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    class="shop text-black dark:text-white"
    ><path></path><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
      d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
      d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"></path></svg
  >
  <span
    class="absolute top-2 right-4 -mt-4 -mr-6 w-5 h-5 rounded-full flex items-center justify-center text-white p-0 text-lg font-bold bg-red-700"
  ></span>
</div>
